@model StarDex.Client.Models.HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}

<section>
  @using (Html.BeginForm("Get", "Constellation", FormMethod.Get)) {
    <span class="const-container">
      <img src="~/img/map.jpg" alt="Constellation Map" class="constellation" id="constellation-sphere">
      @foreach (StarDex.Client.Models.ConstellationButtonModel constellation in Model.stars) {
        <input type="submit" name="name" value="@constellation.name" class="btn" style="top: @constellation.top%; left: @constellation.left%;">
      }
    </span>
  }
</section>