@{
    ViewData["Title"] = "Home Page";
}

<img src="~/img/23614032.jpg" alt="Northern Hemisphere" class="constellation" id="constellation-sphere">
<img src="~/img/23614029.jpg" alt="Southern Hemisphere" class="constellation" id="constellation-sphere">
<section>
  @using (Html.BeginForm("Test", "Star", FormMethod.Post)) {
    <input type="submit" value="Test Constellation">
  }
  @using (Html.BeginForm("Test", "Planet", FormMethod.Post)) {
    <input type="submit" value="Test Planet">
  }
</section>
